/* General */

@import './utils/variables';
@import './utils/reset';
@import './utils/base';
@import './utils/placeholders';

/*index.html*/

@import './components/header';
@import './components/hero';
@import './components/scills';
@import './components/work';
@import './components/team';
// @import './components/clients';
// @import './components/footer';

// /*portfolio.html*/

// @import './components/portfolio';

// /* Modal */

// @import './components/modal';