/* portfolio-filter */

.portfolio-filter {
  @extend %section;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__items {
    @extend %list;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    display: inline-block;
    min-width: 73px;
    border: transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background-color: $secondary-bg-color;
    color: $primary-text-color;

    transition: background-color $time $transition-cubic,
      color $time $transition-cubic,
      box-shadow $time $transition-cubic;

    &:hover,
    &:focus {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.03em;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      cursor: pointer;
      background-color: $accent-color;
      color: $primary-white-color;
    }
  }
}

/* portfolio-card */

.portfolio-card {
  &__content {
    padding: 20px 24px;
    border-right: 1px solid $bottom-border-card;
    border-bottom: 1px solid $bottom-border-card;
    border-left: 1px solid $bottom-border-card;
  }

  &__items {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: $card-set-gap;
  }

  &__item {
    flex-basis: calc((100% - 2 * $card-set-gap) / 3);
  }

  &__subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text-color;
  }

  &__description {
    font-size: 16px;
    line-height: 1.88;
    color: $secondary-text-color;
  }

  &__link {
    transition: box-shadow $time $transition-cubic;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__text {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    color: $primary-white-color;

    transform: translateY(100%);
    transition: transform $time $transition-cubic;

    .portfolio-card__link:hover &,
    .portfolio-card__link:focus & {
      transform: translateY(0);
    }
  }
}